<!DOCTYPE html>
<html lang="en">
  <head>
    
    <%- include('./layout/head'); %>
</head>

  <body id="top">
 <header class="header" data-header>
    <%- include('./layout/header'); %>
</header>

    <main>
        <section class="hero" id="home">
            <div class="container">
                <div class="container">
   
                    <div class="service-card" style="background-color: white;">
                        <h2 class="h6 section-title underline" >Uh-ho !!</h2>
                
                
                <ul style="max-width: max-content;
                margin-inline: auto;">
                    <li>
                        <h3 class="h3 title ">The page you requested has not been found</h3> 
                    </li>
                <br>
                     
                      
                         <li>
                          <div class="section-title bttn">
                            <button class="btn">
                              <a href="https://openleaves.in/" style="color: white">Home</a>
                            </button>
                          </div>
                         </li>
                       
                  </ul>
                
                    </div>
                  </div>
  
              
            </div>
          </section>
           
            <!-- End -->
     
    </main>
    <%- include('./layout/footer'); %>