<footer class="footer">
    <div class="footer-top section">
      <div class="container">
        <div class="footer-brand">
          <a href="https://openleaves.in/" class="logo">Open Leaves</a>

          <p class="text">
            In Open leaves with our advanced approach to Product Development ,
            our methods continue to be proven in a continuous challenging
            marketplace with delivering what we promise.
          </p>

          <ul class="social-list">
            <li>
              <a
                href="https://m.facebook.com/Open-Leaves-100904552099513/"
                class="social-link"
              >
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a
                href="https://instagram.com/open_leaves?igshid=YmMyMTA2M2Y="
                class="social-link"
              >
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>

            <li>
              <a
                href="https://www.linkedin.com/company/open-leaves/"
                class="social-link"
              >
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>
          </ul>
        </div>

        <ul class="footer-list">
          <li>
            <p class="footer-list-title">Our links</p>
          </li>

          <li>
            <a href="https://openleaves.in/#home" class="footer-link">Home</a>
          </li>

          <li>
            <a href="https://openleaves.in/#about" class="footer-link">About Us</a>
          </li>

          <li>
            <a href="https://openleaves.in/#services" class="footer-link">Services</a>
          </li>

          <li>
            <a href="https://openleaves.in/#" class="footer-link">Team</a>
          </li>

          <li>
            <a href="https://openleaves.in/#blog" class="footer-link">Blog</a>
          </li>
        </ul>

        <ul class="footer-list">
          <li>
            <p class="footer-list-title">Our Services</p>
          </li>

          <li>
            <a href="https://openleaves.in/#services" class="footer-link">3D Printing</a>
          </li>

          <li>
            <a href="https://openleaves.in/#services" class="footer-link">Web Development</a>
          </li>

          <li>
            <a href="https://openleaves.in/#services" class="footer-link">App Development</a>
          </li>

          <li>
            <a href="https://openleaves.in/#services" class="footer-link">UI/UX Designing</a>
          </li>

          <li>
            <a href="https://openleaves.in/#services" class="footer-link">App Development</a>
          </li>
          <li>
            <a href="https://openleaves.in/#services" class="footer-link">Digital Marketing</a>
          </li>
        </ul>

        <ul class="footer-list" id="contact">
          <li>
            <p class="footer-list-title">Contact Us</p>
          </li>
          <ul class="social-list">
            <li>
              <a
                href="https://m.facebook.com/Open-Leaves-100904552099513/"
                class="social-link"
              >
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a
                href="https://instagram.com/open_leaves?igshid=YmMyMTA2M2Y="
                class="social-link"
              >
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>

            <li>
              <a
                href="https://www.linkedin.com/company/open-leaves/"
                class="social-link"
              >
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>
          </ul>
          <li class="footer-item">
            <div class="footer-item-icon">
              <ion-icon name="call"></ion-icon>
            </div>

            <div>
              <a href="tel:+919946696587" class="footer-item-link"
                >+91 9946696587</a
              >
            </div>
          </li>

          <li class="footer-item">
            <div class="footer-item-icon">
              <ion-icon name="mail"></ion-icon>
            </div>

            <div>
              <a
                href="mailto:
              info@openleaves.in"
                class="footer-item-link"
              >
                info@openleaves.in</a
              >
            </div>
          </li>

          <li class="footer-item">
            <div class="footer-item-icon">
              <ion-icon name="location"></ion-icon>
            </div>
            <br />
            <address class="footer-item">
             Valamkottil Tower,
              Judgemukku,Kakkanad, Kochi-682021
            </address>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      <p class="copyright">
        &copy; 2022 <a href="#" class="copyright-link">Open-Leaves</a>. All
        Right Reserved
      </p>
    </div>
  </footer>

  <!-- 
  - #GO TO TOP
-->

  <a href="#top" class="go-top active" aria-label="Go To Top" data-go-top>
    <ion-icon name="arrow-up-outline"></ion-icon>
  </a>

  <!-- 
  - custom js link
-->
  <script src="/js/script.js"></script>
  <!-- 
  - ionicon link
-->
  <script
    src="https://code.jquery.com/jquery-2.2.0.min.js"
    type="text/javascript"
  ></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
  <script
    type="module"
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
  ></script>
  <script
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
  ></script>
</body>
</html>